In [18]:
# Chapter 5 - 10 Minutes to Pandas from:<br/> http://pandas.pydata.org/pandas-docs/version/0.16.0/pandas.pdf

In [19]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**5.1 Object Creation: Creating Series, Dates, and DataFrames**

In [20]:
s = pd.Series([1,3,5, np.nan,6,8])
dates = pd.date_range('20130101', periods=6)
print "Series created:"
print s
print "Date range created:"
print dates
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print "Data frame created:"
print df
df2 = pd.DataFrame({'A' : 1., 
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)), dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test", "train", "test", "train"]),
                    'F' : 'foo'})
print "Data frame 2 created:"
print df2
print "Data frame 2 types:"
print df2.dtypes

Series created:
0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64
Date range created:
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)
Data frame created:
                   A         B         C         D
2013-01-01 -0.348267  0.111891 -0.404649  0.704391
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
2013-01-05 -0.872364 -0.564673  0.682563  0.074511
2013-01-06  0.855508  0.950268 -0.007580 -1.717429
Data frame 2 created:
   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo
Data frame 2 types:
A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

**5.2 Viewing data:**

In [21]:
print("head")
print df.head()
print df.tail(3)
print df.index
print df.columns
print df.values
print("describe: ")
print df.describe()
print df.T
print df.sort_index(axis=1, ascending=False)
print df.sort(columns='B')

head
                   A         B         C         D
2013-01-01 -0.348267  0.111891 -0.404649  0.704391
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
2013-01-05 -0.872364 -0.564673  0.682563  0.074511
                   A         B         C         D
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
2013-01-05 -0.872364 -0.564673  0.682563  0.074511
2013-01-06  0.855508  0.950268 -0.007580 -1.717429
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)
Index([u'A', u'B', u'C', u'D'], dtype='object')
[[ -3.48267060e-01   1.11890620e-01  -4.04648851e-01   7.04390707e-01]
 [ -9.61393526e-02   1.11943292e+00  -1.36338168e+00   5.10530109e-01]
 [  1.64634266e-03   1.59881240e+00  -6.04134270e-01   2.25660515e-01]
 [  4.73588831e-01  -7.85506419e-01  -1.45884619e-01   1.11540243e+00]
 [ -8.72364328e-01  -5.64672514e-01   6.82562947e-01   7.45106821e-02]
 [  8.55508096e-01   9.50267645e-01  -7.58023244e-03  -1.71742917e+00]]
describe:
              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.002329  0.405037 -0.307178  0.152178
std    0.607898  0.967099  0.679501  0.986714
min   -0.872364 -0.785506 -1.363382 -1.717429
25%   -0.285235 -0.395532 -0.554263  0.112298
50%   -0.047247  0.531079 -0.275267  0.368095
75%    0.355603  1.077142 -0.042156  0.655926
max    0.855508  1.598812  0.682563  1.115402
   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -0.348267   -0.096139    0.001646    0.473589   -0.872364    0.855508
B    0.111891    1.119433    1.598812   -0.785506   -0.564673    0.950268
C   -0.404649   -1.363382   -0.604134   -0.145885    0.682563   -0.007580
D    0.704391    0.510530    0.225661    1.115402    0.074511   -1.717429
                   D         C         B         A
2013-01-01  0.704391 -0.404649  0.111891 -0.348267
2013-01-02  0.510530 -1.363382  1.119433 -0.096139
2013-01-03  0.225661 -0.604134  1.598812  0.001646
2013-01-04  1.115402 -0.145885 -0.785506  0.473589
2013-01-05  0.074511  0.682563 -0.564673 -0.872364
2013-01-06 -1.717429 -0.007580  0.950268  0.855508
                   A         B         C         D
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
2013-01-05 -0.872364 -0.564673  0.682563  0.074511
2013-01-01 -0.348267  0.111891 -0.404649  0.704391
2013-01-06  0.855508  0.950268 -0.007580 -1.717429
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661

**5.3 Selection:**

In [22]:
# Getting
print df['A']
print df[0:3]
print df['20130102':'20130104']

# Selecting by labels
print df.loc[dates[0]]
print df.loc[:,['A', 'B']]
print df.loc['20130102':'20130104', ['A', 'B']]
print df.loc['20130102', ['A', 'B']]
print df.loc[dates[0], 'A']
print df.at[dates[0], 'A']

# Selecting by position
print df.iloc[3]
print df.iloc[3:5,0:2]
print df.iloc[[1,2,4], [0,2]]
print df.iloc[1:3, :]
print df.iloc[:, 1:3]
print df.iloc[1,1] #df.iat[1,1] would be the same

# Boolean indexing
print df[df.A > 0]
print df[df > 0]
df2 = df.copy()
df2['E'] = ['one', 'one', 'two', 'three', 'four', 'three']
print df2
print df2[df2['E'].isin(['two', 'four'])]

# Setting
s1 = pd.Series([1,2,3,4,5,6], index=pd.date_range('20130102', periods=6))
df['F'] = s1
df.at[dates[0], 'A'] = 0 
df.iat[0,1] = 0
df.loc[:, 'D'] = np.array([5] * len(df))
print df
df2 = df.copy()
df2[df2>0] = -df2
print df2

2013-01-01   -0.348267
2013-01-02   -0.096139
2013-01-03    0.001646
2013-01-04    0.473589
2013-01-05   -0.872364
2013-01-06    0.855508
Freq: D, Name: A, dtype: float64
                   A         B         C         D
2013-01-01 -0.348267  0.111891 -0.404649  0.704391
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661
                   A         B         C         D
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
A   -0.348267
B    0.111891
C   -0.404649
D    0.704391
Name: 2013-01-01 00:00:00, dtype: float64
                   A         B
2013-01-01 -0.348267  0.111891
2013-01-02 -0.096139  1.119433
2013-01-03  0.001646  1.598812
2013-01-04  0.473589 -0.785506
2013-01-05 -0.872364 -0.564673
2013-01-06  0.855508  0.950268
                   A         B
2013-01-02 -0.096139  1.119433
2013-01-03  0.001646  1.598812
2013-01-04  0.473589 -0.785506
A   -0.096139
B    1.119433
Name: 2013-01-02 00:00:00, dtype: float64
-0.348267059588
-0.348267059588
A    0.473589
B   -0.785506
C   -0.145885
D    1.115402
Name: 2013-01-04 00:00:00, dtype: float64
                   A         B
2013-01-04  0.473589 -0.785506
2013-01-05 -0.872364 -0.564673
                   A         C
2013-01-02 -0.096139 -1.363382
2013-01-03  0.001646 -0.604134
2013-01-05 -0.872364  0.682563
                   A         B         C         D
2013-01-02 -0.096139  1.119433 -1.363382  0.510530
2013-01-03  0.001646  1.598812 -0.604134  0.225661
                   B         C
2013-01-01  0.111891 -0.404649
2013-01-02  1.119433 -1.363382
2013-01-03  1.598812 -0.604134
2013-01-04 -0.785506 -0.145885
2013-01-05 -0.564673  0.682563
2013-01-06  0.950268 -0.007580
1.11943292321
                   A         B         C         D
2013-01-03  0.001646  1.598812 -0.604134  0.225661
2013-01-04  0.473589 -0.785506 -0.145885  1.115402
2013-01-06  0.855508  0.950268 -0.007580 -1.717429
                   A         B         C         D
2013-01-01       NaN  0.111891       NaN  0.704391
2013-01-02       NaN  1.119433       NaN  0.510530
2013-01-03  0.001646  1.598812       NaN  0.225661
2013-01-04  0.473589       NaN       NaN  1.115402
2013-01-05       NaN       NaN  0.682563  0.074511
2013-01-06  0.855508  0.950268       NaN       NaN
                   A         B         C         D      E
2013-01-01 -0.348267  0.111891 -0.404649  0.704391    one
2013-01-02 -0.096139  1.119433 -1.363382  0.510530    one
2013-01-03  0.001646  1.598812 -0.604134  0.225661    two
2013-01-04  0.473589 -0.785506 -0.145885  1.115402  three
2013-01-05 -0.872364 -0.564673  0.682563  0.074511   four
2013-01-06  0.855508  0.950268 -0.007580 -1.717429  three
                   A         B         C         D     E
2013-01-03  0.001646  1.598812 -0.604134  0.225661   two
2013-01-05 -0.872364 -0.564673  0.682563  0.074511  four
                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.404649  5 NaN
2013-01-02 -0.096139  1.119433 -1.363382  5   1
2013-01-03  0.001646  1.598812 -0.604134  5   2
2013-01-04  0.473589 -0.785506 -0.145885  5   3
2013-01-05 -0.872364 -0.564673  0.682563  5   4
2013-01-06  0.855508  0.950268 -0.007580  5   5
                   A         B         C  D   F
2013-01-01  0.000000  0.000000 -0.404649 -5 NaN
2013-01-02 -0.096139 -1.119433 -1.363382 -5  -1
2013-01-03 -0.001646 -1.598812 -0.604134 -5  -2
2013-01-04 -0.473589 -0.785506 -0.145885 -5  -3
2013-01-05 -0.872364 -0.564673 -0.682563 -5  -4
2013-01-06 -0.855508 -0.950268 -0.007580 -5  -5

**5.4 Missing Data:**

In [23]:
df1 = df.reindex(index=dates[0:4], columns=list(df.columns)+['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
print df1
print df1.dropna(how='any')
print df1.fillna(value=5)
print pd.isnull(df1)

                   A         B         C  D   F   E
2013-01-01  0.000000  0.000000 -0.404649  5 NaN   1
2013-01-02 -0.096139  1.119433 -1.363382  5   1   1
2013-01-03  0.001646  1.598812 -0.604134  5   2 NaN
2013-01-04  0.473589 -0.785506 -0.145885  5   3 NaN
                   A         B         C  D  F  E
2013-01-02 -0.096139  1.119433 -1.363382  5  1  1
                   A         B         C  D  F  E
2013-01-01  0.000000  0.000000 -0.404649  5  5  1
2013-01-02 -0.096139  1.119433 -1.363382  5  1  1
2013-01-03  0.001646  1.598812 -0.604134  5  2  5
2013-01-04  0.473589 -0.785506 -0.145885  5  3  5
                A      B      C      D      F      E
2013-01-01  False  False  False  False   True  False
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False   True
2013-01-04  False  False  False  False  False   True

**5.5 Operations**

In [24]:
# Stats
print df.mean()
print df.mean(1)
s = pd.Series([1,3,5,np.nan, 6,8],index=dates).shift(2)
print s
print df.sub(s,axis='index')

# Apply
print df.apply(np.cumsum)
print df.apply(lambda x: x.max() - x.min())

# Histogram
s = pd.Series(np.random.randint(0,7,size=10))
print s
print s.value_counts()

# String methods
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

A    0.060373
B    0.386389
C   -0.307178
D    5.000000
F    3.000000
dtype: float64
2013-01-01    1.148838
2013-01-02    1.131982
2013-01-03    1.599265
2013-01-04    1.508440
2013-01-05    1.649105
2013-01-06    2.359639
Freq: D, dtype: float64
2013-01-01   NaN
2013-01-02   NaN
2013-01-03     1
2013-01-04     3
2013-01-05     5
2013-01-06   NaN
Freq: D, dtype: float64
                   A         B         C   D   F
2013-01-01       NaN       NaN       NaN NaN NaN
2013-01-02       NaN       NaN       NaN NaN NaN
2013-01-03 -0.998354  0.598812 -1.604134   4   1
2013-01-04 -2.526411 -3.785506 -3.145885   2   0
2013-01-05 -5.872364 -5.564673 -4.317437   0  -1
2013-01-06       NaN       NaN       NaN NaN NaN
                   A         B         C   D   F
2013-01-01  0.000000  0.000000 -0.404649   5 NaN
2013-01-02 -0.096139  1.119433 -1.768031  10   1
2013-01-03 -0.094493  2.718245 -2.372165  15   3
2013-01-04  0.379096  1.932739 -2.518049  20   6
2013-01-05 -0.493269  1.368066 -1.835486  25  10
2013-01-06  0.362240  2.318334 -1.843067  30  15
A    1.727872
B    2.384319
C    2.045945
D    0.000000
F    4.000000
dtype: float64
0    3
1    0
2    6
3    1
4    3
5    1
6    3
7    6
8    6
9    1
dtype: int64
6    3
3    3
1    3
0    1
dtype: int64

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dog
8     cat
dtype: object

**5.6 Merge:**

In [25]:
# Concat:
df = pd.DataFrame(np.random.randn(10,4))
print df
pieces = [df[:3], df[3:7], df[7:]]
print pieces
print pd.concat(pieces)

# Join:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1,2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[4,5]})
print pd.merge(left,right, on='key')

# Append:
df = pd.DataFrame(np.random.randn(8,4), columns=['A', 'B', 'C', 'D'])
print df
s = df.iloc[3]
print df.append(s, ignore_index=True)

          0         1         2         3
0 -1.122572  0.699928 -1.171836 -0.216871
1 -1.966729 -0.424724  0.334307  1.237450
2 -0.279982  0.689936  0.762033  1.154310
3  0.007620  1.127077 -1.097672 -0.374351
4  0.815912 -0.623486  1.682549  0.074882
5  1.207351  0.595775  1.141271 -1.659930
6  0.252610 -1.900582 -0.003352 -0.074679
7 -0.354426  0.443687 -0.805283  0.780153
8 -0.611456  0.694295  0.715796  0.592670
9 -0.587419 -0.104244  0.382448  0.630405
[          0         1         2         3
0 -1.122572  0.699928 -1.171836 -0.216871
1 -1.966729 -0.424724  0.334307  1.237450
2 -0.279982  0.689936  0.762033  1.154310,           0         1         2         3
3  0.007620  1.127077 -1.097672 -0.374351
4  0.815912 -0.623486  1.682549  0.074882
5  1.207351  0.595775  1.141271 -1.659930
6  0.252610 -1.900582 -0.003352 -0.074679,           0         1         2         3
7 -0.354426  0.443687 -0.805283  0.780153
8 -0.611456  0.694295  0.715796  0.592670
9 -0.587419 -0.104244  0.382448  0.630405]
          0         1         2         3
0 -1.122572  0.699928 -1.171836 -0.216871
1 -1.966729 -0.424724  0.334307  1.237450
2 -0.279982  0.689936  0.762033  1.154310
3  0.007620  1.127077 -1.097672 -0.374351
4  0.815912 -0.623486  1.682549  0.074882
5  1.207351  0.595775  1.141271 -1.659930
6  0.252610 -1.900582 -0.003352 -0.074679
7 -0.354426  0.443687 -0.805283  0.780153
8 -0.611456  0.694295  0.715796  0.592670
9 -0.587419 -0.104244  0.382448  0.630405
   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5
          A         B         C         D
0  0.577641  0.289560  1.307746  1.209154
1  2.094081  0.270039  1.284886 -1.789020
2  0.718605  0.147973  0.929462  0.292408
3 -0.737011 -0.112556 -0.024945 -0.038661
4  1.984731 -0.781601  1.322122  2.446500
5 -0.234885 -1.070852 -0.365167  0.071427
6  0.549762  0.552803  0.307936 -0.466989
7 -0.493107  0.403548  0.080295 -1.423907
          A         B         C         D
0  0.577641  0.289560  1.307746  1.209154
1  2.094081  0.270039  1.284886 -1.789020
2  0.718605  0.147973  0.929462  0.292408
3 -0.737011 -0.112556 -0.024945 -0.038661
4  1.984731 -0.781601  1.322122  2.446500
5 -0.234885 -1.070852 -0.365167  0.071427
6  0.549762  0.552803  0.307936 -0.466989
7 -0.493107  0.403548  0.080295 -1.423907
8 -0.737011 -0.112556 -0.024945 -0.038661

**5.7 Grouping**

In [26]:
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three', 
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)})
print df
print df.groupby('A').sum()
print df.groupby(['A', 'B']).sum()

     A      B         C         D
0  foo    one  0.472424  1.378255
1  bar    one -0.872645  0.140113
2  foo    two -0.252602 -2.022228
3  bar  three -0.581856 -1.016903
4  foo    two -2.026840  0.663231
5  bar    two -0.998212  0.451627
6  foo    one -0.605849  0.147086
7  foo  three  0.348934 -0.691234
            C         D
A
bar -2.452713 -0.425164
foo -2.063935 -0.524890
                  C         D
A   B
bar one   -0.872645  0.140113
    three -0.581856 -1.016903
    two   -0.998212  0.451627
foo one   -0.133426  1.525341
    three  0.348934 -0.691234
    two   -2.279443 -1.358997

**5.8 Reshaping**

In [27]:
# Stack
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                    'foo', 'foo', 'qux', 'qux'],
                  ['one', 'two', 'one', 'two', 
                   'one', 'two', 'one', 'two']]))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8,2), index=index, columns=['A', 'B'])
df2 = df[:4]
print df2

stacked = df2.stack()
print stacked
print stacked.unstack()
print stacked.unstack(1)
print stacked.unstack(2)
print stacked.unstack(0)

# Pivot Tables
df = pd.DataFrame({'A' : ['one', 'one', 'two', 'three'] * 3,
                   'B' : ['A', 'B', 'C'] * 4,
                   'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar'] * 2,
                   'D' : np.random.randn(12),
                   'E' : np.random.randn(12)})
print df
print pd.pivot_table(df, values = 'D', index = ['A','B'], columns=['C'])

                     A         B
first second
bar   one    -0.410094 -1.030932
      two    -1.481292 -2.040585
baz   one    -0.282859 -0.259967
      two     1.071670 -0.206360
first  second
bar    one     A   -0.410094
               B   -1.030932
       two     A   -1.481292
               B   -2.040585
baz    one     A   -0.282859
               B   -0.259967
       two     A    1.071670
               B   -0.206360
dtype: float64
                     A         B
first second
bar   one    -0.410094 -1.030932
      two    -1.481292 -2.040585
baz   one    -0.282859 -0.259967
      two     1.071670 -0.206360
second        one       two
first
bar   A -0.410094 -1.481292
      B -1.030932 -2.040585
baz   A -0.282859  1.071670
      B -0.259967 -0.206360
                     A         B
first second
bar   one    -0.410094 -1.030932
      two    -1.481292 -2.040585
baz   one    -0.282859 -0.259967
      two     1.071670 -0.206360
first          bar       baz
second
one    A -0.410094 -0.282859
       B -1.030932 -0.259967
two    A -1.481292  1.071670
       B -2.040585 -0.206360
        A  B    C         D         E
0     one  A  foo  1.193724  0.217068
1     one  B  foo -1.125987  0.968409
2     two  C  foo  1.251869 -0.192867
3   three  A  bar -1.029759 -0.996885
4     one  B  bar -0.273837 -0.270358
5     one  C  bar  0.547085  1.221391
6     two  A  foo  0.220688  1.331110
7   three  B  foo  0.257345  0.947009
8     one  C  foo -0.219221 -0.452418
9     one  A  bar -1.362473  1.597724
10    two  B  bar -1.800266 -2.293195
11  three  C  bar -0.177000  0.329286
C             bar       foo
A     B
one   A -1.362473  1.193724
      B -0.273837 -1.125987
      C  0.547085 -0.219221
three A -1.029759       NaN
      B       NaN  0.257345
      C -0.177000       NaN
two   A       NaN  0.220688
      B -1.800266       NaN
      C       NaN  1.251869

** 5.9 Time Series **

In [28]:
rng = pd.date_range('1/1/2012', periods=100, freq='s')
ts = pd.Series(np.random.randint(0,500,len(rng)), index=rng)
print ts.resample('5min', how='sum')

rng = pd.date_range('3/6/2012 00:00', periods=5, freq='D')
ts = pd.Series(np.random.randn(len(rng)), rng)
print ts
ts_utc = ts.tz_localize('UTC')
print ts_utc
print ts_utc.tz_convert('US/Eastern')

rng = pd.date_range('1/1/2012', periods=5, freq='M')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ps = ts.to_period()
print ps
print ps.to_timestamp()

prng = pd.period_range('1990Q1', '2000Q4', freq='Q-NOV')
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq('M', 'e') + 1).asfreq('H', 's') + 9
print ts.head()

2012-01-01    25393
Freq: 5T, dtype: int64
2012-03-06    0.226083
2012-03-07   -0.882458
2012-03-08   -1.200956
2012-03-09   -0.734618
2012-03-10   -0.305612
Freq: D, dtype: float64
2012-03-06 00:00:00+00:00    0.226083
2012-03-07 00:00:00+00:00   -0.882458
2012-03-08 00:00:00+00:00   -1.200956
2012-03-09 00:00:00+00:00   -0.734618
2012-03-10 00:00:00+00:00   -0.305612
Freq: D, dtype: float64
2012-03-05 19:00:00-05:00    0.226083
2012-03-06 19:00:00-05:00   -0.882458
2012-03-07 19:00:00-05:00   -1.200956
2012-03-08 19:00:00-05:00   -0.734618
2012-03-09 19:00:00-05:00   -0.305612
Freq: D, dtype: float64
2012-01   -0.616191
2012-02   -0.052320
2012-03    0.200154
2012-04    1.114166
2012-05    0.808382
Freq: M, dtype: float64
2012-01-01   -0.616191
2012-02-01   -0.052320
2012-03-01    0.200154
2012-04-01    1.114166
2012-05-01    0.808382
Freq: MS, dtype: float64
1990-03-01 09:00   -0.195162
1990-06-01 09:00   -0.504493
1990-09-01 09:00   -1.209067
1990-12-01 09:00    0.492461
1991-03-01 09:00    1.803772
Freq: H, dtype: float64

** 5.10 Categoricals**

In [29]:
df = pd.DataFrame({"id":[1,2,3,4,5,6], "raw_grade":['a', 'b', 'b', 'a', 'a', 'e']})
df["grade"] = df["raw_grade"].astype("category")
print df["grade"]

df["grade"].cat.categories = ["very good", "good", "very bad"]
df["grade"] = df["grade"].cat.set_categories(["very bad", "bad", "medium", "good", "very good"])
print df["grade"]
print df.sort("grade")
print df.groupby("grade").size()

0    a
1    b
2    b
3    a
4    a
5    e
Name: grade, dtype: category
Categories (3, object): [a, b, e]
0    very good
1         good
2         good
3    very good
4    very good
5     very bad
Name: grade, dtype: category
Categories (5, object): [very bad, bad, medium, good, very good]
   id raw_grade      grade
5   6         e   very bad
1   2         b       good
2   3         b       good
0   1         a  very good
3   4         a  very good
4   5         a  very good
grade
very bad      1
bad         NaN
medium      NaN
good          2
very good     3
dtype: float64

**5.11 Plotting**

In [30]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()

In [31]:
df = pd.DataFrame(np.random.randn(1000, 4), index=ts.index,
                  columns=['A', 'B', 'C', 'D'])
df = df.cumsum()
plt.figure(); df.plot(); plt.legend(loc='best')

** 5.12 Getting Data In/Out**

In [32]:
df.to_csv('test.csv')

In [33]:
pd.read_csv('test.csv')

     Unnamed: 0          A          B          C          D
0    2000-01-01   1.227509  -0.090005  -0.420793  -2.126114
1    2000-01-02   0.173913   0.144547  -0.631110  -1.483808
2    2000-01-03   0.511234   1.185971  -0.746252  -2.148759
3    2000-01-04   2.001241   0.816688  -1.880112  -1.774970
4    2000-01-05   2.530248  -0.994200  -2.827361  -2.633945
5    2000-01-06   3.907003  -1.572034  -2.274960  -1.868114
6    2000-01-07   7.933406  -1.009918  -0.620612   0.000545
7    2000-01-08   8.448809  -0.282587  -0.085706   0.121641
8    2000-01-09   8.092947  -1.587618  -0.777120  -0.835363
9    2000-01-10   8.053618   0.275100  -0.149551  -0.198270
10   2000-01-11   9.922322   0.630204  -1.321637   0.731221
11   2000-01-12  10.304873   1.368429   0.356864  -0.535839
12   2000-01-13  10.789421   1.361440  -1.080494   0.298714
13   2000-01-14  12.085695   2.890233  -0.546150   0.316879
14   2000-01-15  13.129595   3.237957  -0.033077   1.782303
15   2000-01-16  12.176636   2.262374  -1.038193  -0.808630
16   2000-01-17  12.199348   2.426754  -2.104145  -1.777420
17   2000-01-18  12.642354   1.097885  -3.532865   0.249293
18   2000-01-19  12.417712   2.117965  -3.633134   0.845756
19   2000-01-20  13.742141   1.770082  -2.583382   0.910371
20   2000-01-21  13.433362   1.491477  -2.420971   0.429732
21   2000-01-22  13.606708   1.286932  -1.652621   0.646314
22   2000-01-23  14.860734   0.567366  -1.705026   1.046857
23   2000-01-24  15.167050  -0.347696  -1.265079   0.254671
24   2000-01-25  15.188636  -0.001506  -0.747119  -0.960105
25   2000-01-26  14.366047  -0.237452  -2.487197  -0.359764
26   2000-01-27  13.691891   0.803688   0.159744   0.647915
27   2000-01-28  13.415804   0.432748   0.236054   2.732174
28   2000-01-29  14.301966   0.072774  -0.457466   2.803461
29   2000-01-30  15.160433   1.595937  -2.421376   4.842325
..          ...        ...        ...        ...        ...
970  2002-08-28 -30.176930   7.929424 -18.777427  -5.829541
971  2002-08-29 -31.298619   7.193714 -19.336667  -6.719553
972  2002-08-30 -32.553081   5.214509 -18.348377  -7.939347
973  2002-08-31 -32.002010   5.533721 -19.463703  -5.926758
974  2002-09-01 -33.178271   5.571803 -19.102041  -5.572896
975  2002-09-02 -34.696527   5.446943 -18.802400  -5.388997
976  2002-09-03 -35.314859   5.434821 -19.213695  -7.577662
977  2002-09-04 -36.019848   4.488285 -18.822023  -7.802258
978  2002-09-05 -34.577786   4.709171 -18.684497  -7.412082
979  2002-09-06 -35.739224   4.937775 -17.069940  -5.861692
980  2002-09-07 -35.382386   5.379437 -18.780769  -6.464458
981  2002-09-08 -34.725845   5.261806 -18.539569  -8.674740
982  2002-09-09 -34.659116   6.194347 -19.396372  -8.812528
983  2002-09-10 -35.996663   4.786616 -19.831051  -9.467702
984  2002-09-11 -36.864405   3.996329 -21.061415  -8.824060
985  2002-09-12 -34.933679   4.873463 -20.427994 -11.752518
986  2002-09-13 -34.093475   3.942883 -21.233823 -11.654276
987  2002-09-14 -34.654528   3.521027 -19.464710  -9.207385
988  2002-09-15 -35.372974   5.204840 -19.218104  -8.277805
989  2002-09-16 -36.174818   5.987524 -19.996314  -7.438447
990  2002-09-17 -36.413043   7.241163 -20.601841  -6.786534
991  2002-09-18 -36.588309   9.087459 -20.269695  -9.131284
992  2002-09-19 -36.709803   7.036999 -21.305465  -8.876656
993  2002-09-20 -36.428937   6.891068 -20.110788 -10.048648
994  2002-09-21 -38.167869   9.406796 -19.879285  -8.933206
995  2002-09-22 -37.745426  11.172374 -19.318514  -8.395100
996  2002-09-23 -35.799912   9.701889 -18.900633  -9.763648
997  2002-09-24 -35.587034   8.787376 -17.080595  -9.940609
998  2002-09-25 -36.626700   8.365339 -18.459747 -10.646758
999  2002-09-26 -36.541182   6.724289 -17.906157 -11.234301

[1000 rows x 5 columns]

In [34]:
df.to_hdf('test.h5', 'df')

ImportError: HDFStore requires PyTables, "No module named tables" problem importing

In [ ]:
pd.read_hdf('test.h5', 'df')

In [ ]:
df.to_excel('test.xlsx', sheet_name = 'Sheet1')

In [ ]:
pd.read_excel('test.xlsx', 'Sheet1', index_col=None, na_values=['NA'])